body {
  background: linear-gradient(to bottom right, $c-blue--light, $c-gray);
  min-height: 1000px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  background: $bg-transparent;
  margin-top: ( $ems--m + $ems--2s);
}
  
/* PageHeader */
.PageHeader {
  margin-top: 40px;
}

.AppDetails {
  color: $c-white;
  text-shadow:
    -1px -1px 0 $c-black,
    1px -1px 0 $c-black,
    -1px 1px 0 $c-black,
    1px 1px 0 $c-black;
}

.PageHeaderImage {
  // background: url(https://images.pexels.com/photos/163036/mario-luigi-yoschi-figures-163036.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  height: 100%;
  // width: 260px;
}

.CloudBubble {
  background: $c-white;
  border: 1px solid $c-black;
  border-radius: 20px;
}

/* Welcome */

/* Footer */
footer {
  background-color: $c-orange--brick;
  border-top: 2px solid $c-black;
  font-weight: bold;
}

.FooterBushes {
  border-radius: 15px 15px 0 0;
  border-top: 1px solid $c-black;
  border-right: 1px solid $c-black;
  border-left: 1px solid $c-black;
  font-size: 1em;
}

.MiddleBush {
  background: $c-green--mid;
}

.OuterBushes {
  background: $c-green--light;
}


/* Forms */
.FormUp {
  background: $c-orange--block;
  // border: 5px solid;
  border-top: 10px solid $c-orange--border;
  border-left: 10px solid $c-orange--border;
  border-right: 10px solid $c-black--border;
  border-bottom: 10px solid $c-black--border;
}


/* PostsList */
.PostsList, .FormUp {
  margin-bottom: 150px;
}
