.App {
  @include col();
  align-items: center;
  background: $bg-transparent;
  text-align: center;
} 

/* Messages/Notices */
.ErrorMsg {
  background: red;
  color: $c-white;

  a {
    color: $c-white;
    
    &:hover {
      color: $c-black;
    }
  }
}

/* PageHeader */
.PageHeader {
  background: $c-yellow--header;
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 40px;
  min-height: $px--m;
  width: 100vw;
}

.AppDetails {
  @include col();
  align-items: flex-start;
  color: $c-white;
  justify-content: center;
  padding-left: $rems--m;
  text-shadow:
    -1px -1px 0 $c-black,
    1px -1px 0 $c-black,
    -1px 1px 0 $c-black,
    1px 1px 0 $c-black;
}

.PageHeaderImage {
  // background: url(https://images.pexels.com/photos/163036/mario-luigi-yoschi-figures-163036.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  height: 100%;
  // width: 260px;
}


/* Welcome */
.WelcomeMessage, .HomeDescription {
  margin-top: $rems--xs;
  // margin-left: $rems--s;
  text-align: left;
}

.HomeDescription {
  margin-bottom: $rems--2s;
}

/* PostsList */
.PostsList, .FormUp {
  margin-bottom: 150px;
}

.Separator {
  margin: 0 $ems--xs;
}