body {
  background: linear-gradient(to bottom right, $c-blue--light, $c-gray);
  font-family: sans-serif;
  margin: 0;
  min-height: 1000px;
  padding: 0;
}

.App {
  @include col();
  background: $bg-transparent;
  // margin-top: ( $ems--m + $ems--2s);
  text-align: center;
}

.AppDetails {
  color: $c-white;
  text-shadow:
    -1px -1px 0 $c-black,
    1px -1px 0 $c-black,
    -1px 1px 0 $c-black,
    1px 1px 0 $c-black;
}
  

/* PageHeader */
.PageHeader {
  margin-top: 40px;
}

.PageHeaderImage {
  // background: url(https://images.pexels.com/photos/163036/mario-luigi-yoschi-figures-163036.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  height: 100%;
  // width: 260px;
}


/* Welcome */


/* PostsList */
.PostsList, .FormUp {
  margin-bottom: 150px;
}
