.BtnBasic {
  background: $bg-transparent;
  border: 1px solid $c-gray;
  border-radius: 20px;

  &:hover {
    transform: scale(1.1)!important;
  }
}

.BtnText {
  margin-left: $rems--xs;
}

// .EditBtn {
//   padding: $rems--xs;
// }

.DeleteBtn {
  // margin-top: $ems--xs!important;
  // margin-bottom: $ems--xs;
  margin-left: $ems--s;
}