/* PostDisplay */
.CommentsContainer {
  @include col();
  align-items: center;
  justify-content: center;
}

.CommentsHeader {
  align-items: center!important;
  margin-top: $ems--xs!important;
  min-height: 60px!important;
  min-width: 35%!important;
  padding: $ems--xs $ems--s!important;
  text-align: center;
}

/* Individual Comment */
.Comment {
  @include row();
  align-items: baseline;
  // margin-bottom: $rems--xs!important;
  min-height: 35px;

  .BtnBasic {
    margin-left: $ems--s;
  }

  p {
    margin-top: auto;
    margin-bottom: auto;
  }
}