.ViewContainer {
  @include col();
  align-items: center;
  margin-bottom: $ems--l;
  max-width: 65%;
  min-width: 50%;
}

.PostsContainer {
  min-width: 50%;
}

.UserGamesContainer {
  @include col();
  align-items: center;
}