/* Footer */
footer {
  background-color: $c-orange--brick;
  border-top: 2px solid $c-black;
  font-weight: bold;

  * {
    text-align: center;
  }
}

.FooterBushes {
  border-radius: 15px 15px 0 0;
  border-top: 1px solid $c-black;
  border-right: 1px solid $c-black;
  border-left: 1px solid $c-black;
  font-size: 1em;
  text-align: center;

  .FooterLink {
    color: $c-black;
    font-size: 100%;
    padding-top: $ems--xs;
    text-decoration: none;
  }
}

.MiddleBush {
  background: $c-green--mid;
}

.OuterBushes {
  background: $c-green--light;
}
