/* Forms */
.FormUp {
  background: $c-orange--block;
  // border: 5px solid;
  border-top: 10px solid $c-orange--border;
  border-left: 10px solid $c-orange--border;
  border-right: 10px solid $c-black--border;
  border-bottom: 10px solid $c-black--border;
  box-shadow: $ems--xs $ems--xs $ems--xs $c-black--charcoal;
  text-align: center;
}