body {
  background: linear-gradient(to bottom right, $c-blue--light, $c-gray);
  font-family: sans-serif;
  margin: 0;
  min-height: 1000px;
  overscroll-behavior: none;
  padding: 0;
}

* {
  font-family: 'Press Start 2P', 'cursive';
  font-size: 100%;
  font-style: normal;
}

// h3 {
//   font-size: $rems--s;
// }

p {
  font-size: $rems--xs;
  margin-bottom: 0;
}

.fas {
  font-size: 150%!important;
}
