// ---------------------------------------------------------------------------
// COLORS
// ---------------------------------------------------------------------------

$bg-transparent: transparent;
$c-white: #ffffff;
$c-black: #000000;
$c-black--border: #020000;
$c-gray: gray;
$c-orange--border: #C43126; 
$c-orange--block: #E47134;
$c-orange--brick: #BA5425;
$c-green--mid: #4ca730;
$c-green--light: #C6F552;
$c-blue--light: #6695F5;


// ---------------------------------------------------------------------------
// SPACING
// ---------------------------------------------------------------------------

$ems--xs: .1em;
$ems--s: 1em;
$ems--2s: 2em;
$ems--m: 5em;
$ems--l: 10em;